.card-container-title {
  color: #29a19c;
}

.art-gallery-card-container {
  min-height: 5vh;
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-items: center;
}
/* Media Queries */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 630px) {
  .art-gallery-card-container {
    width: 90%;
  }
}
