.art-gallery-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100vw;
  background-color: #393e46;
}

.filter-search-container {
  width: 85vw;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}
